# vi: ft=sh
# this is used by "cargo sqlx prepare"
export DATABASE_URL="postgres:///starfish"

export RUST_BACKTRACE=1
export RUST_LIB_BACKTRACE=1
export RUST_LOG=debug

if [ -e .env ]; then
  source .env
fi
